<div class="row justify-content-center">
  <div class="col col-md-5 col-sm-10 sectionMissionAgentEdit">
    <section class="container d-flex justify-content-center">
      <table class="">
        <thead>
          <th class="col-md-8">Mission</th>
          <th class="col-auto">edit</th>
          <th class="col-auto">Delete</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of missions">
            <td id="{{ item.id }}">{{ item.codeName }}</td>
            <td>
              <a
                [routerLink]="['/updateMission', item.id]"
                class="btn btn-outline-success btn-admin"
                ><img src="/assets/write.png" alt="edit"
              /></a>
            </td>
            <td>
              <a
                [routerLink]="['/delete', item.id]"
                class="btn btn-outline-danger btn-admin"
              >
                <img src="/assets/bin.png" alt="delete" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <div class="col col-md-5 col-sm-10 sectionMissionAgentEdit">
    <section class="container d-flex justify-content-center">
      <table class="">
        <thead>
          <th class="col-md-8">Agent</th>
          <th class="col-auto">edit</th>
          <th class="col-auto">Delete</th>
        </thead>
        <tbody *ngIf="agents.length > 0">
          <tr *ngFor="let item of agents">
            <td id="{{ item.id }}">{{ item.callsign }}</td>
            <td>
              <a
                [routerLink]="['/updateAgent', item.id]"
                class="btn btn-outline-success btn-admin"
                name="update_agent"
                role="button"
              >
                <img src="/assets/write.png" alt="edit" />
              </a>
            </td>
            <td>
              <a
                [routerLink]="['/delete', item.id]"
                class="btn btn-outline-danger btn-admin my-0"
              >
                <img src="/assets/bin.png" alt="delete" />
              </a>
            </td>
          </tr>
        </tbody>
        <h5 *ngIf="agents.length <= 0">No agent added yet</h5>
      </table>
    </section>
  </div>
</div>

<h4>Dernière visite : {{ visited | date: "dd/MM/yyyy" }}</h4>
<!-- First section -> create a mission -->
<div class="container mt-3">
  <form [formGroup]="addMissionForm" (ngSubmit)="addNewMission()">
    <section class="container">
      <h3 class="text-center mt-3">Create a new mission</h3>
      <div class="row">
        <!-- first col -->
        <div class="col">
          <div class="form-group my-3">
            <label class="col-form-label">Mission Title</label>
            <input
              type="text"
              class="form-control"
              name="mission"
              formControlName="mission"
            />
          </div>
          <div class="form-group my-3">
            <label class="col-form-label">Country</label>
            <select
              (ngModelChange)="onChange($event)"
              formControlName="country"
              class="form-control text-center linked-select"
            >
              <option>Select the country</option>

              <option *ngFor="let item of countriesList" value="{{ item.id }}">
                {{ item.item.name }}
              </option>
            </select>
          </div>
          <div class="form-group my-3">
            <label class="col-form-label">Code Name</label>
            <input
              type="text"
              class="form-control"
              name="codeName"
              formControlName="codeName"
            />
          </div>
          <div class="form-group my-3">
            <label class="col-form-label">Target </label>
            <select
              (ngModelChange)="onSelectTarget($event)"
              formControlName="target"
              class="form-control text-center linked-select"
            >
              <option>Select your Target</option>

              <option *ngFor="let item of targetList" value="{{ item.id }}">
                {{ item.item.callsign }}
              </option>
            </select>
            <div class="newSelectTarget"></div>
            <div>
              <a
                class="
                  btn
                  rounded-circle
                  btn-outline-success
                  d-flex
                  circle
                  float-end
                "
                id="addSelectTarget"
                >+</a
              >
            </div>
          </div>
          <div class="form-group my-3">
            <label class="col-form-label">Specialities </label>
            <select
              (ngModelChange)="SpecialitiesHandle($event)"
              formControlName="specialities"
              class="form-control text-center linked-select"
            >
              <option>Select your Specialities</option>

              <option
                *ngFor="let item of specialitiesList"
                value="{{ item.id }}"
              >
                {{ item.item.name }}
              </option>
            </select>
          </div>
          <div class="form-group my-3">
            <div
              class="
                alertAgent
                col-md-12
                justify-content-center
                align-items-center
                d-flex
              "
              id="alertAgent"
            ></div>

            <div
              *ngIf="alert"
              class="
                alert alert-danger alert-dismissible
                fade
                show
                has-text-centered
                w-100
              "
              role="alert"
              #alert
            >
              <div>
                We haven't any agent with this speciality

                <button
                  (click)="closeAlert()"
                  mat-dialog-close="true"
                  class="btn-alert close"
                  type="button"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <label class="col-form-label">Agent </label>
            <select
              formControlName="agent"
              class="form-control text-center linked-select"
            >
              <option>Select your Agent</option>
              <option *ngFor="let item of agentSpeList" value="{{ item.id }}">
                {{ item.item }}
              </option>
            </select>

            <div class="newSelectAgent"></div>
            <div>
              <a
                class="
                  btn
                  rounded-circle
                  btn-outline-success
                  d-flex
                  circle
                  float-end
                "
                id="addSelectAgent"
                >+</a
              >
            </div>
          </div>

          <div class="form-group my-3">
            <label class="col-form-label">Description </label>
            <textarea
              type="text"
              cols="10"
              rows="5"
              name="desc"
              formControlName="desc"
            ></textarea>
          </div>
        </div>
        <!-- end of first col -->
        <!-- second col -->
        <div class="col">
          <div class="col form-group my-3">
            <div
              *ngIf="alertContact"
              class="
                alert alert-danger alert-dismissible
                fade
                show
                has-text-centered
                w-100
              "
              role="alert"
              #alert
            >
              <div>
                We haven't any contact in this country

                <button
                  (click)="closeAlert()"
                  mat-dialog-close="true"
                  class="btn-alert close"
                  type="button"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <label class="col-form-label">Contact</label>
            <select
              formControlName="contact"
              class="form-control text-center linked-select"
            >
              <option>Select your contact</option>

              <option *ngFor="let item of arrayList" value="{{ item.id }}">
                {{ item.item }}
              </option>
            </select>
            <div class="newSelectContact"></div>
            <div>
              <a
                class="
                  btn
                  rounded-circle
                  btn-outline-success
                  d-flex
                  circle
                  float-end
                "
                id="addSelectContact"
                >+</a
              >
            </div>
          </div>

          <div class="form-group my-3">
            <label class="col-form-label">Type of mission </label>
            <select
              formControlName="type"
              class="form-control text-center linked-select"
            >
              <option>Select your Type of mission</option>

              <option *ngFor="let item of typeList" value="{{ item.id }}">
                {{ item.item.name }}
              </option>
            </select>
          </div>
          <div class="form-group my-3">
            <label class="col-form-label">Status </label>
            <select
              formControlName="status"
              class="form-control text-center linked-select"
            >
              <option>Select the status</option>

              <option *ngFor="let item of statusList" value="{{ item.id }}">
                {{ item.item.state }}
              </option>
            </select>
          </div>
          <div class="form-group my-3">
            <label class="col-form-label">Hideouts </label>
            <select
              formControlName="hideouts"
              class="form-control text-center linked-select"
            >
              <option>Select your hideouts</option>
              <option *ngFor="let item of hideoutsList" value="{{ item.id }}">
                {{ item.item }}
              </option>
            </select>
            <div class="newSelectHideouts"></div>
            <div>
              <a
                class="
                  btn
                  rounded-circle
                  btn-outline-success
                  d-flex
                  circle
                  float-end
                "
                id="addSelectHideouts"
                >+</a
              >
            </div>
          </div>

          <div class="form-group my-3">
            <label class="col-form-label">Date of beginning </label>
            <input
              type="date"
              class="form-control"
              name="startDate"
              formControlName="startDate"
            />
          </div>
          <div class="form-group my-3">
            <label class="col-form-label">Date of end </label>
            <input
              type="date"
              class="form-control"
              name="endDate"
              formControlName="endDate"
            />
          </div>
        </div>
        <!-- end of secont col  -->
        <div class="col">
          <div class="form-group my-3">
            <button
              type="submit"
              [disabled]="addMissionForm.invalid"
              class="btn btn-outline-success float-end loginButton"
              name="add_mission"
            >
              Start mission
            </button>
          </div>

          <div class="form-group my-3">
            <a
              href="addAgent"
              class="btn btn-outline-success float-end loginButton"
              >Add agent / contact/ target</a
            >
          </div>
          <div class="form-group my-3">
            <button
              type="submit"
              class="btn btn-outline-danger float-end loginButton"
              name=""
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
