<h2>Update {{ agent[0].callsign }}</h2>
<div class="container mt-3">
  <form [formGroup]="updatePersonForm" (ngSubmit)="updatePerson()">
    <section class="container text-center">
      <div class="row">
        <div class="col">
          <div class="form-group my-3">
            <label for="text" class="col-form-label">name </label>
            <input
              type="lname"
              class="form-control"
              name="lname"
              formControlName="lname"
              placeholder=" item.name "
            />

            <label for="text" class="col-form-label">firstname </label>
            <input
              type="fname"
              class="form-control"
              name="fname"
              formControlName="fname"
            />

            <label for="text" class="col-form-label">callsign </label>
            <input
              type="callsign"
              class="form-control"
              name="callsign"
              formControlName="callsign"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group my-3">
            <label for="text" class="col-form-label">birthday </label>
            <input
              type="date"
              class="form-control"
              name="birthday"
              formControlName="birthday"
            />
            <label for="text" class="col-form-label">nationality </label>
            <input
              type="nationalityId"
              class="form-control"
              name="nationalityId"
              formControlName="nationalityId"
            />
            <label for="text" class="col-form-label">speciality </label>
            <input
              type="specialities"
              class="form-control"
              name="specialities"
              formControlName="specialities"
            />
          </div>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="updatePersonForm.invalid"
        class="btn btn-outline-success float-center loginButton my-3 w-100"
      >
        Update !
      </button>
    </section>
  </form>
</div>
