<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <h2 class="navbar-brand mx-5" href="#">SPYCITY</h2>

    <button
      class="navbar-toggler navbar-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-3" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="login" *ngIf="!isAuth"> login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register" *ngIf="!isAuth"> Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""> Mission</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="admin"
            routerLinkActive="ative"
            *ngIf="isAuth"
          >
            Admin</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="logout"
            routerLinkActive="ative"
            *ngIf="isAuth"
          >
            Logout</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact"> Contact </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
