<div class="container">
  <div class="row">
    <div class="my-1">
      <form [formGroup]="selectMission">
        <h3 class="text-center">Select your mission</h3>
        <div class="my-3">
          <select
            (ngModelChange)="onChange($event)"
            class="
              justify-content-center
              d-flex
              text-center
              linked-select
              form-control
            "
            formControlName="mission"
          >
            <option>Select Your mission</option>

            <option *ngFor="let item of missions">{{ item.codeName }}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-6 my-3">
      <section class="missionSection">
        <!-- Visualisation de la carte -->
        <div id="map"></div>
      </section>
    </div>

    <div class="col my-3">
      <section class="missionSection">
        <div class="card-body">
          <!-- Tableau récap de la mission -->
          <div class="res"></div>
        </div>
      </section>
    </div>
  </div>
</div>
