<div class="container">
  <div class="row">
    <div class="my-1">
      <form [formGroup]="selectMission">
        <h3 class="text-center">Select your mission</h3>
        <div class="my-3">
          <select
            (ngModelChange)="onChange($event)"
            class="
              justify-content-center
              d-flex
              text-center
              linked-select
              form-control
            "
            formControlName="mission"
          >
            <option>Select Your mission</option>

            <option *ngFor="let item of missions">{{ item.codeName }}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-6 my-3">
      <section class="missionSection">
        <!-- Visualisation de la carte -->
        <div id="map"></div>
      </section>
    </div>

    <div class="col my-3">
      <section class="missionSection">
        <div class="card-body">
          <!-- Tableau récap de la mission -->
          <table *ngFor="let mission of missions">
            <tr>
              <td>Mission Name</td>
              <td>
                {{ mission.mission }}
              </td>
            </tr>
            <tr>
              <td>Code Name</td>
              <td>
                {{ mission.codeName }}
              </td>
            </tr>
            <tr>
              <td>Agent</td>
              <td>
                {{ mission.agent }}
              </td>
            </tr>
            <tr>
              <td>Target</td>
              <td>
                {{ mission.target }}
              </td>
            </tr>
            <tr>
              <td>Contact</td>
              <td>
                {{ mission.contact }}
              </td>
            </tr>
            <tr>
              <td>Country</td>
              <td>
                {{ mission.countryId }}
              </td>
            </tr>
            <tr>
              <td>Hideouts</td>
              <td>
                {{ mission.hideouts }}
              </td>
            </tr>
            <tr>
              <td>description</td>
              <td>
                {{ mission.desc }}
              </td>
            </tr>
            <tr>
              <td>Specialities</td>
              <td>
                {{ mission.specialities }}
              </td>
            </tr>
            <tr>
              <td>Mission Type</td>
              <td>
                {{ mission.type }}
              </td>
            </tr>
            <tr>
              <td>Date of start</td>
              <td>
                {{ mission.startDate }}
              </td>
            </tr>
            <tr>
              <td>Mission Date of End</td>
              <td>
                {{ mission.endDate }}
              </td>
            </tr>
            <tr>
              <td>Status</td>
              <td>
                {{ mission.status }}
              </td>
            </tr>
          </table>
          <div class="res"></div>
        </div>
      </section>
    </div>
  </div>
</div>
